.carousel-item {
	height: 400px;
    width: 100% !important;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

.carousel-image-1 {
  background: url('https://rajecom.s3.eu-west-2.amazonaws.com/cook-3_1920.jpg');
  background-size: cover;
}

.carousel-image-2 {
  background: url('https://rajecom.s3.eu-west-2.amazonaws.com/bell-pepper-1_1920.jpg');
  background-size: cover;
}

.carousel-image-3 {
  background: url('https://rajecom.s3.eu-west-2.amazonaws.com/shish-kebab-3_1920.jpg');
  background-size: cover;
}


#main-footer {
  background: #000;
  color: #fff;
}



