<!DOCTYPE html>
<html>
  <head>

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}"/>

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <meta charset="utf-8">
    <title> Raj Recipe World</title>
  </head>

<body>

  <header class="py-5" >
    <!-- Nav-bar -->
<nav class="navbar navbar-expand-sm navbar-dark bg-info fixed-top ">
    <div class="container">

      <a href="{{ url_for('core.index') }}" target="_blank" class="navbar-brand">Recipe World</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span> </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">

         <ul class="navbar-nav ml-auto">

            <li class="nav-item active">
              <a class="nav-link text-white" href="{{ url_for('core.index') }}">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white" href="{{ url_for('core.info') }}">About Us</a>
            </li>

        <!-- -->

            {% if current_user.is_authenticated %}

            <li class="nav-item">
                <a class="nav-link text-white" href="{{ url_for('users.logout') }}">Log Out</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="{{ url_for('users.account') }}">Account</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="{{ url_for('recipe_posts.create_recipe') }}">Add Recipe</a>
            </li>

             <li class="nav-item"> 
                <a class="nav-link text-white" href="{{ url_for('users.user_recipies' , username=current_user.username) }}">{{ current_user }}</a>
              </li>


              {% else %}

              <li class="nav-item">
                  <a class="nav-link text-white" href="{{ url_for('users.login') }}"> Log In </a>
              </li>

              <li class="nav-item">
                  <a class="nav-link text-white" href="{{ url_for('users.register') }}"> Register </a>
              </li>

              {% endif %}

    </ul>

    </div>
   </div>
  </nav>

 </header>




  {% block content %}

  {% endblock %}


        <!-- FOOTER -->
         <footer id="main-footer" class="text-center p-4">
          <div class="container">
              <div class="row">
                <div class="col">

                    <a href="#"> <i class="fab fa-facebook-square fa-2x"> </i> </a>
                    <a href="#"> <i class="fab fa-youtube fa-2x"> </i> </a>
                    <a href="#"> <i class="fab fa-twitter-square fa-2x"></i> </a>
                    <a href="#"> <i class="fab fa-linkedin fa-2x"></i> </a>

                  <p> &copy;
                    <span id="year"></span> Raj Recipe World </p>
                </div>
              </div>
            </div>
          </footer>

  </body>
</html>
   <!-- -->    <!-- -->    <!-- -->    <!-- -->    <!-- --> 