<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}"/>

      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" />

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" />

  <meta charset="utf-8">

    <title> Raj Recipe World</title>

  </head>

<body>

  <header class="py-5" >
    <!-- Nav-bar -->
<nav class="navbar navbar-expand-sm navbar-dark bg-info fixed-top ">
    <div class="container">

      <a href="{{ url_for('core.index') }}" target="_blank" class="navbar-brand"> <i class="fas fa-utensils icon-nav"></i> Recipe World</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span> </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">




      <ul class="navbar-nav ml-auto">

      <form class="form-inline my-2 my-lg-0" method="GET" action="{{ url_for('search.search_result') }}">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <!--
        <button class="btn btn-outline-light bg-danger my-2 my-sm-0" type="submit">Search</button>
        -->
      </form>

            <li class="nav-item active">
              <a class="nav-link text-white" href="{{ url_for('core.index') }}">
                <i class="fas fa-home icon-nav"> Home </i>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white" href="{{ url_for('core.info') }}"> <i class="fas fa-users icon-nav"></i> About Us</a>
            </li>



        <!-- -->

            {% if current_user.is_authenticated %}



            <li class="nav-item">
                <a class="nav-link text-white" href="{{ url_for('users.logout') }}"> <i class="fas fa-sign-out-alt icon-nav"></i> Log Out </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="{{ url_for('users.account') }}">
                  <i class="fas fa-user icon-nav"> </i> Profile </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="{{ url_for('recipe_posts.create_recipe') }}">
                  <i class="fas fa-plus icon-nav"></i> Add Recipe</a>
            </li>

             <li class="nav-item"> 
                <a class="nav-link text-white" href="{{ url_for('users.user_recipies' , username=current_user.username) }}"> <i class="fas fa-user-circle icon-nav"> </i> {{ current_user }} </a>
              </li>



 

              {% else %}

              <li class="nav-item">
                  <a class="nav-link text-white" href="{{ url_for('users.login') }}"> <i class="fas fa-sign-in-alt icon-nav"></i> Log In </a>
              </li>


              
              <li class="nav-item">

                  <a href="{{ url_for('users.register') }}" class="btn btn-info btn-md">
                  <span class="glyphicon glyphicon-text-background"></span> Register
                </a>

              </li>



              {% endif %}

    </ul>
               
         

    
        
             
    </div>



       

   </div>

           
  
        

  </nav>

 </header>




  {% block content %}

  {% endblock %}


        <!-- FOOTER -->
         <footer id="main-footer" class="text-center p-4">
          <div class="container">
              <div class="row">
                <div class="col">

                    <a href="#"> <i class="fab fa-facebook-square fa-2x"> </i> </a>
                    <a href="#"> <i class="fab fa-youtube fa-2x"> </i> </a>
                    <a href="#"> <i class="fab fa-twitter-square fa-2x"></i> </a>
                    <a href="#"> <i class="fab fa-linkedin fa-2x"></i> </a>

                  <p> &copy;
                    <span id="year"></span> Raj Recipe World </p>
                </div>
              </div>
            </div>
          </footer>


    <!-- -->    <!-- -->    <!-- -->    <!-- -->    <!-- --> 

     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
   <!-- -->    <!-- -->    <!-- -->    <!-- -->    <!-- --> 