{% extends "base.html" %}
{% block content %}
<div class="container">
  <form class="form-group" method="POST" action="" enctype="multipart/form-data">
     {{ form.hidden_tag() }}

     <!-- -->

     <div class="form-group">
     
     {{ form.recipe_image.label(class="form-control-label") }}

     {{ form.recipe_image(class="form-control form-control-lg ")}}

     </div>

     <!-- -->

     <div class="form-group">
     {{ form.recipe_name.label(class="form-control-label") }}
     {{ form.recipe_name(class="form-control form-control-lg ") }}
     </div>
     <!-- -->
     <div class="form-group">

     {{ form.course.label(class="form-control-label") }}
          

     {{ form.course(class="form-control form-control-lg ") }}
     </div>
     <!-- -->
     <!-- -->
     <div class="form-group">
     {{ form.food_category.label(class="form-control-label") }}
     {{ form.food_category(class="form-control form-control-lg ") }}
     </div>
     <!-- -->
     <!-- -->
     <div class="form-group">
     {{ form.cuisine.label(class="form-control-label") }}
     {{ form.cuisine(class="form-control form-control-lg ") }}
     </div>
     <!-- -->
     <!-- -->
     <div class="form-group">
     {{ form.prep_time.label(class="form-control-label") }}
     {{ form.prep_time(class="form-control form-control-lg ") }}
     </div>
     <!-- -->
     <!-- -->
     <div class="form-group">
     {{ form.cook_time.label(class="form-control-label") }}
     {{ form.cook_time(class="form-control form-control-lg ") }}
     </div>
     <!-- -->
     <!-- -->
     <div class="form-group">
     {{ form.allergens.label(class="form-control-label") }}
     {{ form.allergens(class="form-control form-control-lg ") }}
     </div>
     <!-- -->
     <!-- -->
     <div class="form-group">
     {{ form.serving.label(class="form-control-label") }}
     {{ form.serving(class="form-control form-control-lg ") }}
     </div>
     <!--                                                  -->
     <div class="form-group">
     {{ form.ingredients.label(class="form-control-label") }}
     {{ form.ingredients(class="form-control form-control-lg") }}
     </div>

     <div class="form-group">
     {{ form.recipe_description.label(class="form-control-label") }}
     {{ form.recipe_description(class="form-control form-control-lg") }}
     </div>

     <div class="form-group">
         {{ form.submit(class="btn btn-outline-info") }}
     </div>
  </form>

</div>

{% endblock content %}
