{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>Info about our recipe</h1>

 <p>
Whether you love to cook or you just love to eat,<br>
odds are you have a collection of dishes and recipes you'd like to try.<br>
Maybe you have a bunch handed down from a loved one.<br>
In either case, you probably need a better method to keep them organized for the long haul<br>than a bunch of index cards in a file folder. <br>
Here are some of the best apps for you, depending on the kind of recipe collection you have. <br>

We've covered a number of recipe managers and organization tools in the past. <br>
This time though we're taking a look at some specific tools just right for your needs, <br>
whether you like to take your tablet into the kitchen or you have boxes of hand-written recipes <br> you want to save for future generations

 </p>

</div>

{% endblock %}
