{% extends "base.html" %}
{% block content %}

<div class="py-2 text-center">
  <h1> Info about our recipe app!!! </h1>
</div>

<!-- -->

  <section id="" class="text-center">
    <div class="container">
      <div class="row">

      

        <div class="col-md-6">
         
         <img class="img-fluid " src="https://rajecom.s3.eu-west-2.amazonaws.com/about-us.jpg" style="height: 450px;" alt="" >
              
        </div> <!-- col-md-6 bg-dark top -->

              <div class="col-md-6">

            
                
                  <p class="py-2">

					Whether you love to cook or you just love to eat,
					odds are you have a collection of dishes and recipes you'd like to try.
					Maybe you have a bunch handed down from a loved one.
					In either case, you probably need a better method to keep them organized for the long haulthan a bunch of index cards in a file folder.
					Raj-recipe-world  is some of the best apps for you, depending on the kind of recipe collection you have.

					<h4> We covered a number of  features that provides registered user:- </h4>

					<ul>
						<li> Create new recipies - recipe name, category, servings, preparation time, cooking method etc, </li>

						<li>Read all the recipies </li>

						<li>Edit own recipies </li>

						<li>Delete own recipies </li>

						<li>Vistor can only read the recipies </li>

						<li>To post a recipe visitor must sign up </li>

						<li>User can see all his or her recipies on one place after login under </li>

						<li>UserName: Nav-link </li>

						<li>User can update Profile picture and other info after login under Profile: Nav-link </li>
					<ul>

					This time though we're taking a look at some specific tools just right for your needs,
					whether you like to take your tablet into the kitchen or you have boxes of hand-written recipes you want to save for future generations

					</p>   
             

        </div> <!-- col-md-6 bottom -->
   

      </div> <!-- row -->
    </div> <!-- container -->
</section>


<!-- -->
<br>



{% endblock %}
