{% extends "base.html" %}
{% block content %}

<!-- Error Flash Message -->

<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
  
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}


<!-- Error Flash Message End -->

<div class="container">
<form method="POST" action="">
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
		<fieldset class="form-group">
		                <legend class="border-bottom py-1 text-center">Log In</legend>
		                <div class="form-group">
		                    {{ form.email.label(class="form-control-label") }}
		                    {% if form.email.errors %}
		                        {{ form.email(class="form-control form-control-lg is-invalid") }}
		                        <div class="invalid-feedback">
		                            {% for error in form.email.errors %}
		                                <span>{{ error }}</span>
		                            {% endfor %}
		                        </div>
		                    {% else %}
		                        {{ form.email(class="form-control form-control-lg") }}
		                    {% endif %}
		                </div>
		                <div class="form-group">
		                    {{ form.password.label(class="form-control-label") }}
		                    {% if form.password.errors %}
		                        {{ form.password(class="form-control form-control-lg is-invalid") }}
		                        <div class="invalid-feedback">
		                            {% for error in form.password.errors %}
		                                <span>{{ error }}</span>
		                            {% endfor %}
		                        </div>
		                    {% else %}
		                        {{ form.password(class="form-control form-control-lg") }}
		                    {% endif %}
		                </div>
		                <div class="form-check">
		                    {{ form.remember(class="form-check-input") }}
		                    {{ form.remember.label(class="form-check-label") }}
		                </div>
		            </fieldset>
		            <div class="form-group">
		                {{ form.submit(class="btn btn-outline-info") }}
		            </div>
		            <h6 class="py-2">
		                <a class="text-danger" href="{{url_for('users.reset_password_request')}}">Forgot Password?</a>
		            </h6>
</form>

    <div class="border-top pt-3">
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="{{url_for('users.register')}}"><h4 class="btn btn-outline-info">Sign Up Now </h4></a>
        </small>
    </div>

</div>

{% endblock %}
<!-- --> <!-- --> <!-- --> <!-- --> <!-- -->