
{% extends "base.html" %}
{% block content %}

<!-- -->   <!-- --> <!-- --> <!--   --> <!-- --> <!-- --> <!-- --> <!-- -->

<!-- Error Flash Message -->



<h1> hi </h1>


    {% for recipe in recipe_search%}


      <h3> <a href="{{ url_for('recipe_posts.recipe_post', recipe_post_id=recipe.id) }}">{{ recipe.recipe_name }}</a> </h3>

         {% endfor %}






  <!-- --> <!-- --> <!--   --> <!-- --> <!-- --> <!-- --> <!-- -->


  <!-- --> <!-- --> <!--   --> <!-- --> <!-- --> <!-- --> <!-- -->


  <!-- --> <!-- --> <!--   --> <!-- --> <!-- --> <!-- --> <!-- -->


  <!-- --> <!-- --> <!--   --> <!-- --> <!-- --> <!-- --> <!-- -->


  <!-- --> <!-- --> <!--   --> <!-- --> <!-- --> <!-- --> <!-- -->


  <!-- --> <!-- --> <!--   --> <!-- --> <!-- --> <!-- --> <!-- -->


  <!-- --> <!-- --> <!--   --> <!-- --> <!-- --> <!-- --> <!-- -->


  <!-- --> <!-- --> <!--   --> <!-- --> <!-- --> <!-- --> <!-- -->


  <!-- --> <!-- --> <!--   --> <!-- --> <!-- --> <!-- --> <!-- -->

  {% endblock content %}